@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
    font-family: "Poppins";
    src: url("./lib/fonts/poppins/Poppins-Regular.ttf");
}

body, main {
    overflow-x: hidden;
    scroll-behavior: smooth; 
    font-family: "Poppins";
}

html:has(.drawer-toggle:checked) {
    overflow-y: hidden;
    scrollbar-gutter:unset;
}

[data-theme="dark"] .btn {
  @apply bg-red-500;
}

:root:has(:is(.modal-open, .modal:target, .modal-toggle:checked + .modal, .modal[open])) {
    overflow-y: hidden;
    scrollbar-gutter: unset;
}

@layer components {
    .btn-hover {
        @apply hover:bg-base-content text-white;
    }
    .bb {
        @apply border border-black;
    }

    .icon {
        @apply filter dark:invert;
    }
    
    .red-filter {
        filter: brightness(0) saturate(100%) invert(38%) sepia(93%) saturate(2710%) hue-rotate(339deg) brightness(102%) contrast(86%);
    }
}